* {
  margin: 0;
}

.main-home{
  padding: 0 50px;
  background-color: #c8c7ca;
}

.navigation-bar {
  display: flex;
  border-bottom: solid #000000 5px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 80px;
  font-size: 30px;
}

.navigation-links {
  padding: 15px 60px 15px 50px;
  font-size: 20px;
  word-spacing: 25px;
  
}

.navigation-links a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #ffffff;
}

#image {
  width: 100%;
  padding: 100px 0;
  
}



.heading1-content {
  display: flex;
  font-size: 23px;
  padding-bottom: 50px;
}

.heading1-content img {
  height: 300px;
  width: 500px;
}

.heading2-content {
  display: flex;
  font-size: 23px;
  padding-bottom: 50px;
  flex-direction: row-reverse;
}

.heading2-content img {
  height: 300px;
  width: 500px;
}

.heading3-content {
  display: flex;
  font-size: 23px;
  padding-bottom: 50px;
}

.heading3-content img {
  height: 300px;
  width: 500px;
}
  

